<h2>Running Servers</h2>
  <ul>
    <% if @server_list.nil? %>
      <li><%= 'No Servers Found' %></li>
    <%else%>
      <% @server_list.each do | server | %>
      <li><%= server[:name].to_s + ' ' + server[:port].to_s %></li>
    <% end %>
  <%end%>
</ul>
