<!DOCTYPE html>
<head>
  <% %>
</head>
<body>
  <header>
    <%='Header'%>
  </header>
  <article>
    
  </article>
  <nav>
    <%='Navigation'%>
  </nav>
  <footer>
    <%='Footer'%>
  </footer>
</body>